<div class="loginWindow">
    <h1>Login</h1>
    <div class='container'>
        <form>
            <div class="field">
                <label>Email Id <span class="required">*</span></label><br><br>
                <input type="text" placeholder="Enter Email Id" required>
            </div>
            <div class="field">
                <label>Password <span class="required">*</span></label><br><br>
                <input type="password" placeholder="Enter Password" required>
            </div>
            <div class="forgot">Forgot Password?</div>
            <div id="login"><input type="submit" value='Login'></div>
            
            <div class="SignUp">New User? <a routerLink="../signup">Sign Up Here!</a></div>
        </form>
        <div class="login-options">
            <div class='options' id='facebook' >
                <img src="./assets/facebook.png"  alt="facebook" class='logo'> 
                <div class='logo-text'>LOG IN WITH FACEBOOK</div>
            </div>
            <div class='options' id="google">
                <img src="./assets/google.png" alt="google" class='logo'> 
                <div class='logo-text'>LOG IN WITH GOOGLE</div>
            </div>
            <div class='options' id="apple" >
                <img src="./assets/apple.png" alt="apple"class='logo'> 
                <div class='logo-text' id='apple-text'>Sign in with Apple</div>
            </div>
        </div>
    </div>
    
</div>